
html, body {
  font-family: Calibri, Verdana, Tahoma, Arial;
}

.byline {
	white-space: nowrap;
}

.choice {
  text-align: left;
  padding: 4px;
  white-space: nowrap;
}

.button {
  text-align: center;
  margin: 3% auto;
  padding: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.menu:hover {
  background-color: #CFF2F2;
}

.menu {
  text-align: center;
  background-color: #E5F2F2;
}

